@media (min-width: 50em) {
	// -> 800px. Почему лучше использовать em, это единственное значение которое работает согласованно во всех браузерах при увлечении и уменьшении. Даже если изменить корневой размер шрифта то ничего не изменится

	$fs-body: $fs-500;
	$fs-primary-heading: $fs-900;
	$fs-secondary-heading: $fs-800;
	$fs-nav: $fs-300;

	.even-columns {
		grid-auto-flow: column;
		grid-auto-columns: 1fr;
	}

	.numbered-items {
		justify-self: end;
	}

	// .even-columns .flow + div {
	// 	transform: translateX(12%);
	// }

	.nav-list {
		display: flex;
		gap: clamp($size-400, 3vw, 2.5rem);
		font-weight: $fw-bold;

		a {
			text-decoration: none;
		}
	}

	.social-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.social-icon {
		width: $size-600;
	}

	input[type='email'] {
		width: clamp(9.375rem, 20vmax, 15.625rem);
	}

	.even-columns.footer-wrapper {
		grid-template-columns: 1.5fr 2fr 1fr;
	}
}

@media (max-width: 50em) {
	.primary-navigation {
		display: none;

		padding: $size-700;
		position: fixed;
		z-index: 1;
		inset: 7rem $size-400 auto;
		background: $clr-neutral-100;
		border-radius: $size-100;
		// box-shadow: 0 0 0 100vmax rgb(0, 0, 0, 0.75);
	}

	.primary-navigation[data-visible] {
		display: block;
	}

	.primary-header[data-overlay]::before {
		content: '';
		position: fixed;
		z-index: 1;
		// top: 0;
		// width: 100%;
		inset: 0;
		// height: 1000px;
		background-image: linear-gradient(rgb(0 0 0 / 0), rgba(0 0 0 / 0.8));
	}

	.nav-list {
		display: grid;
		gap: $size-600;
		text-align: center;
		font-weight: $fw-bold;
	}

	.mobile-nav-toggle .icon-close {
		display: none;
	}

	.mobile-nav-toggle {
		display: block;
		position: fixed;
		cursor: pointer;
		z-index: 1;
		border: none;
		background-color: transparent;
		padding: 0.5em;
		top: 6%;
		right: 1%;
	}

	.button-hidden {
		display: none;
	}

	.cta {
		grid-template-columns: auto;
		// grid-auto-rows: 1fr 1fr;
		justify-items: center;
		text-align: center;

		p {
			max-width: 12ch;
		}

		// .button {
		// 	justify-self: center;
		// }
	}
	section:last-of-type {
		background-position: 20% 40%;
	}

	.footer-wrapper {
		justify-items: center;
		gap: $size-700;
		grid-template-areas:
			'form '
			'nav'
			'social';

		& .social-wrapper {
			grid-area: social;
			display: flex;
			flex-direction: column-reverse;
			align-items: center;
			gap: $size-700;
			margin-bottom: calc($size-800 + 21px);
		}
		& div:nth-child(2) {
			grid-area: nav;
		}
		& div:last-child {
			grid-area: form;
		}
	}

	.footer-wrapper {
		position: relative;
	}

	form {
		position: static;

		p {
			translate: 50%;
			right: 50%;
		}
	}

	.even-columns:has(.flow + .numbered-items) {
		justify-items: center;

		p {
			max-width: none;
		}

		& > .flow:first-child {
			text-align: center;
			margin-bottom: $size-700;
		}
	}
}

@media (max-width: 30em) {
	ul.numbered-items p {
		grid-column: 1 / -1;
	}

	ul.numbered-items div {
		position: relative;
	}

	ul.numbered-items div::after {
		content: '';
		position: absolute;
		inset: 0;
		z-index: -1;
		grid-column: 1 / -1;
		grid-row: 1 / 2;
		background-color: $clr-accent-100;
		border-top-left-radius: 100vmax;
		border-bottom-left-radius: 100vmax;
		box-shadow: 5em 0 0 0 $clr-accent-100;
	}

	p[data-width='wide'] {
		max-width: fit-content;
	}

	.even-columns:has(.flow + .numbered-items) > .flow:first-child {
		text-align: center;
		max-width: 33ch;
		margin-inline: auto;
	}

	ul.numbered-items div {
		gap: $size-200;
	}
}
