*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.text-primary-400 {
  color: hsl(228, 39%, 23%);
}

.text-accent-400 {
  color: hsl(12, 88%, 59%);
}

.text-accent-100 {
  color: hsl(13, 100%, 96%);
}

.text-neutral-100 {
  color: hsl(0, 0%, 100%);
}

.text-neutral-900 {
  color: hsl(232, 12%, 13%);
}

.bg-primary-400 {
  background-color: hsl(228, 39%, 23%);
}

.bg-accent-400 {
  background-color: hsl(12, 88%, 59%);
}

.bg-accent-100 {
  background-color: hsl(13, 100%, 96%);
}

.bg-neutral-100 {
  background-color: hsl(0, 0%, 100%);
}

.bg-neutral-900 {
  background-color: hsl(232, 12%, 13%);
}

.fw-bold {
  font-weight: 700;
}

.fw-semi-bold {
  font-weight: 500;
}

.fw-regular {
  font-weight: 400;
}

.fs-primary-heading {
  font-size: 2.5rem;
  line-height: 1.1;
}

.fs-secondary-heading {
  font-size: 1.875rem;
  line-height: 1.1;
}

.fs-300 {
  font-size: 0.8125rem;
}

.fs-400 {
  font-size: 0.875rem;
}

.fs-500 {
  font-size: 0.938rem;
}

.fs-600 {
  font-size: 1rem;
}

.padding-block-900 {
  padding-block: 5rem;
}

.padding-block-700 {
  padding-block: 3rem;
}

.container {
  width: min(1110px, 100% - 2rem);
  margin-inline: auto;
}

.even-columns {
  display: grid;
  gap: 1rem;
}

:where(.flow :not(:first-child)) {
  margin-top: var(--flow-spacer, 3em);
}

p:not([class]) {
  opacity: 0.7;
  max-width: 32ch;
}

p[data-width=wide] {
  max-width: 42ch;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 0.875rem;
  color: hsl(228, 39%, 23%);
}

input[type=email] {
  border-radius: 100vmax;
  border: none;
  height: 2.575rem;
  width: clamp(9.375rem, 50vw, 250px);
  margin-right: 0.313rem;
}

.button {
  cursor: pointer;
  text-decoration: none;
  border: none;
  border-radius: 100vmax;
  padding: 1em 2.5em;
  font-weight: 700;
  font-size: 0.8125rem;
  color: hsl(0, 0%, 100%);
  background-color: hsl(12, 88%, 59%);
  box-shadow: 0 1.125em 1em -1em hsl(12, 88%, 59%);
  transition: all 0.3s;
}
.button[data-type=inverted] {
  background-color: hsl(0, 0%, 100%);
  color: hsl(12, 88%, 59%);
}
.button[data-type=inverted]:is(:hover, :focus) {
  color: hsl(0, 0%, 100%);
}
.button:is(:hover, :focus) {
  background-color: hsl(12, 88%, 75%);
}
.button[data-shadow=none] {
  box-shadow: none;
}

.primary-header {
  padding-top: 3rem;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.mobile-nav-toggle {
  display: none;
}

.nav-list a {
  text-decoration: none;
  color: hsl(228, 39%, 23%);
}
.nav-list a:hover, .nav-list a:focus {
  text-decoration: none;
  color: hsl(12, 88%, 59%);
}

.cta {
  grid-template-columns: 1fr auto;
  align-items: center;
}
.cta p {
  max-width: 20ch;
}

section:last-of-type {
  background-image: url("../images/bg-simplify-section-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 40%;
}

.footer-nav a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}
.footer-nav a:is(:hover, :focus) {
  color: hsl(12, 88%, 59%);
}

.footer-nav {
  -moz-columns: 2;
       columns: 2;
  gap: max(10vw, 2rem);
}

.social-list {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
}

.social-icon {
  width: 2rem;
  fill: hsl(0, 0%, 100%);
  width: 32px;
  height: 32px;
}
.social-icon:is(:hover, :focus) {
  fill: hsl(12, 88%, 59%);
}

form {
  position: relative;
  height: 100%;
  white-space: nowrap;
  text-align: right;
}
form p {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
  .numbered-items {
    justify-self: end;
  }
  .nav-list {
    display: flex;
    gap: clamp(1rem, 3vw, 2.5rem);
    font-weight: 700;
  }
  .nav-list a {
    text-decoration: none;
  }
  .social-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .social-icon {
    width: 2rem;
  }
  input[type=email] {
    width: clamp(9.375rem, 20vmax, 15.625rem);
  }
  .even-columns.footer-wrapper {
    grid-template-columns: 1.5fr 2fr 1fr;
  }
}
@media (max-width: 50em) {
  .primary-navigation {
    display: none;
    padding: 3rem;
    position: fixed;
    z-index: 1;
    inset: 7rem 1rem auto;
    background: hsl(0, 0%, 100%);
    border-radius: 0.25rem;
  }
  .primary-navigation[data-visible] {
    display: block;
  }
  .primary-header[data-overlay]::before {
    content: "";
    position: fixed;
    z-index: 1;
    inset: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  }
  .nav-list {
    display: grid;
    gap: 2rem;
    text-align: center;
    font-weight: 700;
  }
  .mobile-nav-toggle .icon-close {
    display: none;
  }
  .mobile-nav-toggle {
    display: block;
    position: fixed;
    cursor: pointer;
    z-index: 1;
    border: none;
    background-color: transparent;
    padding: 0.5em;
    top: 6%;
    right: 1%;
  }
  .button-hidden {
    display: none;
  }
  .cta {
    grid-template-columns: auto;
    justify-items: center;
    text-align: center;
  }
  .cta p {
    max-width: 12ch;
  }
  section:last-of-type {
    background-position: 20% 40%;
  }
  .footer-wrapper {
    justify-items: center;
    gap: 3rem;
    grid-template-areas: "form " "nav" "social";
  }
  .footer-wrapper .social-wrapper {
    grid-area: social;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 3rem;
    margin-bottom: calc(4rem + 21px);
  }
  .footer-wrapper div:nth-child(2) {
    grid-area: nav;
  }
  .footer-wrapper div:last-child {
    grid-area: form;
  }
  .footer-wrapper {
    position: relative;
  }
  form {
    position: static;
  }
  form p {
    translate: 50%;
    right: 50%;
  }
}/*# sourceMappingURL=main.css.map */