*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.text-primary-400 {
  color: hsl(228, 39%, 23%);
}

.text-accent-400 {
  color: hsl(12, 88%, 59%);
}

.text-accent-100 {
  color: hsl(13, 100%, 96%);
}

.text-neutral-100 {
  color: hsl(0, 0%, 100%);
}

.text-neutral-900 {
  color: hsl(232, 12%, 13%);
}

.bg-primary-400 {
  background-color: hsl(228, 39%, 23%);
}

.bg-accent-400 {
  background-color: hsl(12, 88%, 59%);
}

.bg-accent-100 {
  background-color: hsl(13, 100%, 96%);
}

.bg-neutral-100 {
  background-color: hsl(0, 0%, 100%);
}

.bg-neutral-900 {
  background-color: hsl(232, 12%, 13%);
}

.fw-bold {
  font-weight: 700;
}

.fw-semi-bold {
  font-weight: 500;
}

.fw-regular {
  font-weight: 400;
}

.fs-primary-heading {
  font-size: 2.5rem;
  line-height: 1.1;
}

.fs-secondary-heading {
  font-size: 1.875rem;
  line-height: 1.1;
}

.fs-300 {
  font-size: 0.8125rem;
}

.fs-400 {
  font-size: 0.875rem;
}

.fs-500 {
  font-size: 0.938rem;
}

.fs-600 {
  font-size: 1rem;
}

.padding-block-900 {
  padding-block: 5rem;
}

.padding-block-700 {
  padding-block: 3rem;
}

.container {
  width: min(1110px, 100% - 2rem);
  margin-inline: auto;
}

.even-columns {
  display: grid;
  gap: 1rem;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 0.875rem;
  color: hsl(228, 39%, 23%);
}

.button {
  cursor: pointer;
  text-decoration: none;
  border: none;
  border-radius: 100vmax;
  padding: 1em 2.5em;
  font-weight: 700;
  font-size: 0.8125rem;
  color: hsl(0, 0%, 100%);
  background-color: hsl(12, 88%, 59%);
  box-shadow: 0 1.125em 1em -1em hsl(12, 88%, 59%);
  transition: all 0.3s;
}
.button[data-type=inverted] {
  background-color: hsl(0, 0%, 100%);
  color: hsl(12, 88%, 59%);
}
.button[data-type=inverted]:is(:hover, :focus) {
  color: hsl(12, 88%, 75%);
}
.button:is(:hover, :focus) {
  background-color: hsl(12, 88%, 75%);
}

.primary-header {
  padding-top: 3rem;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.mobile-nav-toggle {
  display: none;
}

.nav-list a {
  text-decoration: none;
  color: hsl(228, 39%, 23%);
}
.nav-list a:hover, .nav-list a:focus {
  text-decoration: none;
  color: hsl(12, 88%, 59%);
}

@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
  .nav-list {
    display: flex;
    gap: clamp(1rem, 3vw, 2.5rem);
    font-weight: 700;
  }
  .nav-list a {
    text-decoration: none;
  }
}
@media (max-width: 50em) {
  .primary-navigation {
    display: none;
    padding: 3rem;
    position: fixed;
    inset: 7rem 1rem auto;
    background: hsl(0, 0%, 100%);
    border-radius: 0.25rem;
  }
  .primary-navigation[data-visible] {
    display: block;
  }
  .primary-header[data-overlay]::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  }
  .nav-list {
    display: grid;
    gap: 2rem;
    text-align: center;
    font-weight: 700;
  }
  .mobile-nav-toggle .icon-close {
    display: none;
  }
  .mobile-nav-toggle {
    display: block;
    position: fixed;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0.5em;
    top: 6%;
    right: 1%;
  }
  .button-hidden {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */